<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">

	<title>Impots.gouv.fr - Service de vérification en ligne des avis</title>
	<link href="Impots.gouv.fr%20-%20Service%20de%20v%C3%A9rification%20en%20ligne%20des%20avis_files/style.css"
		rel="styleSheet" type="text/css">
</head>

<body>

	<div id="conteneur">
		<div id="barre_haut">
			<div style="float: left;"><img
					src="Impots.gouv.fr%20-%20Service%20de%20v%C3%A9rification%20en%20ligne%20des%20avis_files/bo_seule-2.gif"
					alt=""></div>
			<div style="float: right;"><img
					src="Impots.gouv.fr%20-%20Service%20de%20v%C3%A9rification%20en%20ligne%20des%20avis_files/bo_seule-3.gif"
					alt=""></div>
		</div>
		<div id="principal">
			<div id="nav_pro">
				<b>L'administration fiscale certifie l'authenticité du document présenté pour les données suivantes
					:</b>
			</div>

			<div class="titre_affiche_avis">
				<span>Impôt {{ taxYear }} sur les revenus de l'année {{ earningsYear }}
				</span>
			</div>


			<table>
				<tbody>
					<tr>
						<td class="label">
						</td>
						<td class="label">Déclarant 1
						</td>
						<td class="label">Déclarant 2
						</td>
					</tr>
					<tr>
						<td class="labelPair">Nom
						</td>
						<td class="labelPair">{{{ person1.surname }}}
						</td>
						<td class="labelPair">{{{ person2.surname }}}
						</td>
					</tr>
					<tr>
						<td class="labelImpair">Nom de naissance
						</td>
						<td class="labelImpair">{{{ person1.birthname }}}
						</td>
						<td class="labelImpair">{{{ person2.birthname }}}
						</td>
					</tr>
					<tr>
						<td class="labelPair">Prénom(s)
						</td>
						<td class="labelPair">{{{ person1.name }}}
						</td>
						<td class="labelPair">{{{ person2.name }}}
						</td>
					</tr>
					<tr>
						<td class="labelImpair">Date de naissance
						</td>
						<td class="labelImpair">{{{ person1.birthdate }}}
						</td>
						<td class="labelImpair">{{{ person2.birthdate }}}
						</td>
					</tr>
					<tr>
						<td class="labelPair">
							addresse déclarée au 1<sup>er</sup> janvier {{ taxYear }}
						</td>
						<td class="labelPair">{{{ address.line1 }}}
						</td>
						<td class="labelPair">
						</td>
					</tr>
					<tr>
						<td class="labelPair">
						</td>
						<td colspan="2" class="labelPair">{{{ address.zipCode }}} {{{ address.city }}}
						</td>
					</tr>
					<tr>
						<td class="espace"></td>
					</tr>
					<tr>
						<td class="labelPair" colspan="2">Date de mise en recouvrement de l'avis d'impôt
						</td>
						<td class="textPair">{{{ recoveryDate }}}
						</td>
					</tr>
					<tr>
						<td class="labelImpair" colspan="2">Date d'établissement
						</td>
						<td class="textImpair">{{{ statementDate }}}
						</td>
					</tr>
					<tr>
						<td class="labelPair" colspan="2">Nombre de part(s)
						</td>
						<td class="textPair">{{{ parts }}}
						</td>
					</tr>
					<tr>
						<td class="labelImpair" colspan="2">Situation de famille
						</td>
						<td class="textImpair">{{{ familyComposition }}}
						</td>
					</tr>
					<tr>
						<td class="labelPair" colspan="2">Nombre de personne(s) à charge
						</td>
						<td class="textPair">{{{ dependents }}}
						</td>
					</tr>
					<tr>
						<td class="labelImpair" colspan="2">Revenu brut global
						</td>
						<td class="textImpair">{{{ globalEarnings }}}
						</td>
					</tr>
					<tr>
						<td class="labelPair" colspan="2">Revenu imposable
						</td>
						<td class="textPair">{{{ taxableEarnings }}}
						</td>
					</tr>
					<tr>
						<td class="labelImpair" colspan="2">Impôt sur le revenu net avant corrections
						</td>
						<td class="textImpair">{{{ taxBeforeCorrection }}}
						</td>
					</tr>
					<tr>
						<td class="labelPair" colspan="2">Montant de l'impôt
						</td>
						<td class="textPair">{{{ tax }}}
						</td>
					</tr>
					<tr>
						<td class="labelImpair" colspan="2">Revenu fiscal de référence
						</td>
						<td class="textImpair">{{{ referenceEarnings }}}
						</td>
					</tr>

				</tbody>
			</table>

			<div id="situationPartielle">{{{ partialSituation }}}
			</div>

			{{#if correctionError}}
			<div id="erreurCorrectif">{{{ correctionError }}}</div>

			{{/if}}
			<div id="boutonsAvis">
				<a class="nouvelle_recherche" href="/secavis/">
					Nouvelle recherche
				</a>
			</div>

		</div>
	</div>

</body>

</html>